<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!-- Gramáticas aceptadas en cada uno de los estados -->
    <add key="PuertoMeiga" value="COM4" />
    <add key="PuertoPulsador" value="COM6" />
  </appSettings>

  </configuration>